%h2 Call log ##{@log.id}
.call-log-header
  .item
    %b Not Before:
    = @log.not_before
  .item
    %b Started:
    = format_timestamp(@log.created_at)
  .item
    %b Finished:
    = format_timestamp(@log.finished_at)
  .item
    %b Duration:
    = distance_of_time_in_words(@log.finished_at, @log.created_at, true) if @log.finished_at
  .item
    %b Phone number:
    = @log.address
  .item
    %b Direction:
    = @log.direction
  .item
    %b Channel:
    = @log.channel.try(:name)
  .item
    %b Schedule:
    = @log.schedule.try(:name)
  .item
    %b Project:
    = @log.project.try(:name)
  .item
    %b State:
    = @log.state
  .item
    %b Fail Reason:
    = @log.fail_reason
%br/
%p
  = link_to 'Download CSV', download_details_call_log_path(@log, :format => :csv), :class => "button fimport"

.tablewrapp.user-flow-log
  %table
    -@activities.each do |activity|
      %tr{:class => activity.fields['error'] ? 'error' : ''}
        %td.timestamp
          - time = Time.parse(activity.start)
          = l(time.to_date, format: :short)
          %br
          = time.strftime("%H:%M:%S.%L")
        %td.icon
          %div{:class => user_step_class(activity.fields['step_type'], !!activity.fields['error'])}
        %td.details
          .step_name= activity.description
          .description
            = activity.fields['error']
            = activity.fields['step_result']
            = activity.fields['step_data']

- if @log.pbx_logs_guid
  %h3 Network Logs
  %table.GralTable
    %tr
      %th{style: 'width:160px;'} When
      %th Details
    - @log.pbx_logs.each do |pbx_log|
      %tr
        %td= pbx_log.created_at
        %td= pbx_log.details
  %br

